.footer {
    margin-top: 60px;
    display: flex;
    flex-direction: row; /* Set the direction to row */
    justify-content: space-around; /* Space the items evenly */
    align-items:start; /* Align items vertically in the center */
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    margin-top:170px
  }


.item{
   width:25%;
   padding:20px;
   
}

.logo {
  display: flex;
  align-items: start;
  justify-content: start;
  font-size: 22px;
  font-weight: bold;
  height: 80px;
  color: #45B4E9;
  width: 110px;
}

.paragraph {
    font-size: 1rem;
    color:#555555;
    text-align: left;
  }
  

/* Media query for screens smaller than 768px (mobile/tablet) */
@media (max-width: 768px) {
    .footer {
      flex-direction: column; 
      align-items: center;
      margin-top:500px
    }
  
    .item{
      width:75%;
      padding:20px;
   }
   
   
  }